* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.container .illustration {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #111827;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in-out .3s;
}

.sidebar.hide{
    width: 87px;
}

.main-content {
    flex-grow: 1;
}

.sidebar .header-description {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 16px;
    color: #FFFF;
}

.sidebar.hide .header-description{
    display: none;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .header .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 10px;
    height: 40px;
    box-sizing: border-box;
}

.sidebar .header .list-item .icon {
    margin-right: 12px;

}

.sidebar .header .illu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0 22px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sidebar.hide .header .illu{
    display: none;
}

.sidebar .main .list-item .description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFF;
    text-decoration: none;
}

.sidebar.hide .main .list-item .description{
    display: none ;
}

.sidebar .main .list-item .icon {
    margin-right: 12px;
}

.sidebar .main .list-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: row;
    align-items: center;
    padding: 12px 10px;
    /* width: 212px; */
    border-radius: 10px;
    box-sizing: border-box;
}

.sidebar .main .list-item:hover {
    background-color: #FF9900;
    transition: ease-in .3s;
    cursor: pointer;
}

.sidebar .footer .list-item .desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFF;
    text-decoration: none;
}

.sidebar .footer .list-item .icon {
    margin-right: 12px;
}

.sidebar .footer .list-item {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 10px;
}

.sidebar .footer .list-item:hover {
    background-color: #E21818;
    transition: ease-in .3s;
    cursor: pointer;

}

/* Humburger */
#menu-button{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    position: absolute;
    overflow: hidden;
}

#menu-label{
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger,#menu-label::after, #menu-label::before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #111827;
}

#menu-label:after, #menu-label:before{
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;

}

#menu-label:before{
    top: 0;
}
#menu-label:after{
    top: 8px;
}
#hamburger{
    top: 16px;
}
#hamburger:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #111827;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before{
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after{
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before{ 
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2 ease 0.8s forwards;
}

@keyframes moveUpThenDown {
    0%{
        top: 0;
    }
    50%{
        top: -27%;
    }
    100%{
        top:-14px;
    }
}

@keyframes shakeUp {
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

@keyframes shakeDown {
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
}